/* GENERAL */

body {
  max-width: 1000px;
  margin: auto;
  background-color: rgb(26, 26, 26);
  font-family: "iraniansans";
}

.fade {
  opacity: 0;
}

p {
  color: rgb(0, 158, 0);
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/* BODY => HEADER */

header {
  margin-top: 50px;
}

header img {
  width: 175px;
}

.tech-contain {
  display: flex;
  justify-content: space-between;
}

u {
  cursor: help;
}

.info-card {
  display: none;
  height: auto;
  width: 275px;
  position: absolute;
  right: 350px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #eeeeef;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.info-card p {
  color: black;
  font-size: 1.1rem;
}

/* BODY => MAIN */

.link-contain {
  display: flex;
  justify-content: space-between;
}

main img {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border-radius: 50%;
}

.git-card {
  display: none;
  position: absolute;
  bottom: 175px;
  left: 165px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #eeeeef;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.git-card p {
  color: black;
  font-size: 1.1rem;
}

/* BODY => FOOTER */

footer img {
  width: 100px;
}

.social-contain {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE SECTION */

@media (max-width: 1000px) {
  body {
    max-width: 600px;
  }
  header img {
    width: 125px;
  }
  main img {
    width: 115px;
    height: 115px;
  }
  header,
  main {
    margin-bottom: 50px;
  }
  .info-card {
    right: 250px;
  }
  .git-card {
    left: 35px;
    bottom: 135px;
  }
}

@media (max-width: 425px) {
  body {
    max-width: 275px;
    padding-top: 65px;
  }
  p {
    font-size: 1.05rem;
    font-weight: bold;
  }
  header img {
    width: 65px;
  }
  main img {
    width: 65px;
    height: 65px;
  }
  .info-card {
    right: 50px;
  }
  .git-card {
    width: 150px;
    left: 20px;
    bottom: 185px;
  }
}
