/* GENERAL */

body {
  max-width: 1000px;
  margin: auto;
  background-color: rgb(26, 26, 26);
  font-family: "iraniansans";
}

p {
  color: rgb(0, 158, 0);
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

/* BODY => HEADER */

header {
  margin-top: 50px;
}

header img {
  width: 175px;
}

.tech-contain {
  display: flex;
  justify-content: space-between;
}

/* BODY => MAIN */

.link-contain {
  display: flex;
  justify-content: space-between;
}

main img {
  width: 165px;
  height: 165px;
  object-fit: cover;
  border-radius: 50%;
}

/* BODY => FOOTER */

footer img {
  width: 100px;
}

.social-contain {
  width: 100%;
  display: flex;
  justify-content: center;
}
