@font-face {
    font-family: 'iranyekanwebregular';
    src: url(../fonts/iranyekanwebregular.woff);
}

@font-face {
    font-family: 'iranyekanwebmedium';
    src: url(../fonts/iranyekanwebmedium.woff);
}

@font-face {
    font-family: 'YekanBakhBold';
    src: url(../fonts/YekanBakhBold.woff);
}