.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}

.level-btn {
    text-align: center;
    font-size: 2.75rem;
    background-color: var(--color-primary);
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.level-btn:hover {
    background-color: var(--color-primary-hover);
    border-radius: 8px;
}
