.monitor {
    min-width: 500px;
    max-width: 750px;
}

.message-ctn {
    position: absolute;
    top: 6%;
    display: none;
}

.message-ctn > * {
    padding: 15px 30px;
    border-radius: 15px;
    background-color: var(--color-primary);
    font-size: 1.75rem;
}

#re-btn {
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.2s ease-in-out;
}

#re-btn:hover {
    background-color: var(--color-primary-hover);
    color: #e3e3e3;
    border-radius: 8px;
}

.message button {
    display: block;
}

.competitor-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.competitor-panel {
    background-color: var(--color-primary);
    padding: 15px;
    height: 100%;
    border-radius: 15px;
    font-size: 3rem;
    margin-bottom: 55px;
}

.competitor-panel img {
    width: 50px;
    height: 50px;
    visibility: hidden;
}

.score-section {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.score-section div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.score-section div:first-child {
    padding: 0 35px;
    border-right: 3px solid black;
}

.score-section h3 {
    font-size: 2.5rem;
    font-weight: 600;
    background-color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 15px;
}

.player-section {
    display: flex;
    justify-content: space-evenly;
}

.button {
    background-color: var(--color-primary);
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--color-primary-hover);
}
