main > section {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    padding-top: 50px;
}

.reg-container > div {
    display: flex;
    gap: 25px;
}

#user-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
}

.user-panel {
    background-color: var(--color-light-gray);
    margin-bottom: 25px;
    padding: 20px 0 30px 15px;
    border: 4px solid #fff;
    border-radius: 10px;
    max-width: 450px;
    box-shadow: var(--shadow-one);
}

.user-panel span {
    color: #fff;
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.user-upper-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}

.user-lower-section p {
    margin: 10px 0;
}

#history-button {
    background-color: var(--color-third);
    margin-top: 25px;
    padding: 5px;
    border-top-left-radius: 10px;
    box-shadow: var(--shadow-one);
    cursor: pointer;
}

#user-history {
    width: 25%;
    height: 100%;
    top: 25px;
    position: sticky;
    padding: 10px;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 15px;
    display: none;
}
