:root {
    --color-bg: rgb(227, 227, 227);
    --color-btn-one: #4ba2cb;
    --color-btn-one-hover: #53bfe5;
    --color-primary: #2465f7;
    --color-secondary: #1e66f72a;
    --color-third: #11ff90;
    --color-light-gray: rgb(195, 195, 195);
    --color-warning: #e9c601;
    --color-error: #f75e4b;
    --shadow-one: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin: 34px auto;
    font-family: Verdana, sans-serif;
    background-color: var(--color-bg);
}

a {
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.reg-container {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 100px;
}

.button-one {
    background-color: var(--color-btn-one);
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.2s ease-in;
}

.button-one:hover {
    background-color: var(--color-btn-one-hover);
}

.button-two,
.button-three {
    background-color: var(--color-light-gray);
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.button-two:hover {
    transform: scale(1.03);
}

.button-three {
    cursor: auto;
}
