#search {
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#search input {
    width: 300px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1rem;
    box-shadow: var(--shadow-one);
}

#search button {
    background-color: var(--color-btn-one);
    border: none;
    border-radius: 50%;
    padding: 12px;
    transition: all 0.2s ease-in-out;
}

#search button:hover {
    background-color: var(--color-btn-one-hover);
}

#search span {
    background-color: var(--color-btn-one);
    padding: 8px;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#search span:hover {
    background-color: var(--color-btn-one-hover);
}

#container {
    margin-bottom: 100px;
    display: flex;
}

/* PRODUCT */

#products {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-container {
    position: relative;
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#rate,
#count {
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    top: 15px;
}

#rate {
    background-color: var(--color-warning);
    left: 10px;
}

#count {
    background-color: var(--color-error);
    right: 10px;
}

.card-container img {
    width: 220px;
    height: 220px;
    align-self: center;
    margin: 45px 0 35px;
}

.card-container div:last-child {
    display: flex;
    justify-content: space-between;
}

/* CATEGORY */

#category {
    width: 20%;
    padding: 20px;
    background-color: #fff;
    margin-left: 20px;
    height: fit-content;
    border-radius: 10px;
}

#category div {
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--color-primary);
}

#category p {
    margin-left: 20px;
}

#category li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

#category li:hover {
    color: var(--color-primary);
}

#category .selected {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 10px;
    border-radius: 5px;
}
